# macOS
.DS_Store
Icon?

# Xcode
*.xcuserdata
*.xcschememanagement.plist
*.mode1v3
DerivedData/
build-*
build/

# Visual Studio
*.vs
*.sdf
*.opensdf
*.suo
*.ncb
*.vcproj.*
*.db
*.LSOverride
ipch/

# Build artifacts
*.exe
*.o
*.obj
*.dylib

# Packages
*.pkg
*.dmg
*.zip

# IDE
*.depend
*.layout
.vscode/

# Audio samples
*.wav

# ROM analysis (copyrighted data)
resources/106rom/

# Website
docs/website/makefile

# iPlug2
gui/
